body, td { 
/*
background-color: #5d5656;
color: #fff;
background-image: url(bg.gif);
background-repeat: repeat;
background-position: 0 0;
*/



background-color: #ccc;
color: #654;

font-family: 'Shippori Antique', 'helvetica', 'arial', sans-serif;
font-size: 16px;

margin: 0px 0px 0px 0px;
padding: 0px;
letter-spacing: 0px;
overflow-wrap: anywhere;
} 

div#sidebar {
position: absolute;
top: 0px;
left: 0px;
width: 20%;
height: 50%;
margin: 0px;
padding: 50px 10px 10px 45px;
letter-spacing: -1px;
}

span.title {
font-size: 32px;
line-height: 38px;
letter-spacing: -2px;
}

div#body {
position: absolute;
top: 55px;
left: 220px;
width: auto;

margin: 0px;

padding-top: 0px;
padding-bottom: 64px;
padding-left: 100px;
padding-right: 100px;
}

img {
padding: 0px;
margin: 4px;
image-rendering: smooth;
}

img.thumbnail {
image-rendering: smooth;
height: 300px;
width: auto;
border: 1px;
}

img.square {
width: 300px;
object-fit: cover;
}

p {
padding-bottom: 20px;
}



span.links {
font-size: 14px;
line-height: 38px;
letter-spacing: 0px;
}

.heading {
font-size: 24px;
/*line-height: 84px;*/
letter-spacing: -1px;
}


/* LINKS */
a {
color: #c35;
/* color: #2e8; */
text-decoration: none;
}

a:hover {
color: #c35;
background-color: #e0e0e0;
}

}


